<h3>Tuotteen lisäys</h3>

<div class="form-group">
  <label for="nimi">Nimi</label>
  <input [(ngModel)]="kumppari.nimi" type="text" class="form-control" id="nimi" placeholder="Nimi">
</div>
<div class="form-group">
  <label for="vari">Väri</label>
  <input [(ngModel)]="kumppari.vari" type="text" class="form-control" id="vari" placeholder="Väri">
</div>
<div class="form-group">
  <label for="hinta">Hinta</label>
  <input [(ngModel)]="kumppari.hinta" type="number" class="form-control" id="hinta" placeholder="Hinta">
</div>
<div class="form-group">
  <label for="varastotilanne">Varastotilanne</label>
  <input [(ngModel)]="kumppari.varastotilanne" type="text" class="form-control" id="varastotilanne" placeholder="Varastotilanne">
</div>
<button class="btn btn-primary" (click)="lisaaKumppari(kumppari)">Lisää kumppari</button>
<a routerLink="/listaus">Peruuta</a>